.admin{
    height: 100%;
    width: 100%;
    .header{
        height: 100%;
        width: 100%;
        background-color: #aae7ff;
    }

    .logo{
        height: 100%;
        width: 300px;
        padding: 0px 50px;
        display: flex;
        float: left;
        .img{
            display: inline-block;
            height: 60px;
            width: 60px;
            margin: 0px 15px;
        }
        .h1{
            display: inline-block;
            font-size: 20px;
        }
    }
    .dblist{
        align-content: center;
        float: right;
        margin: 0px 30px;
        height: 100%;
        width: 300px;
    }
    .search{
        align-items: center;
        display: flex;
        height: 50px;
        width: 100%;
        padding: 0px 10px 10px 10px;
        background-color: #aae7ff;
    }
    .collapsed{
        align-items: center;
        display: flex;
        height: 20px;
        width: 100%;
        padding: 0px 10px 10px 10px;
        background-color: #aae7ff;
        .collapsedicon{
            float: right;
        }
    }
    .tablelistscroll{
        padding: 10px 0px;
        height: calc(100vh - 136px);
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #ffffff;
        .loading-container{
            position: absolute;
            bottom: 40px;
            width: 100%;
            text-align: center;
        }
        .listitem{
            padding: 0;
            margin: 0;
            .listitemmeta{
                padding: 0px 10px 0px 10px;
                cursor: pointer;
            }
        }
        .listitem :hover{ 
            background-color:#e6faff;
        }
    }
    .tableinfo{
        padding: 15px 0px 0px 0px;
        margin: 0px 50px;
        height: 40px;
        text-align: left;
        line-height:20px;
        .tableinfotext{
            font-size: 20px;
            color: #000;
        }
    }
    .logoutbt{
        align-content: center;
        float: right;
        height: 100%;
        width: 78px;
    }
    .table{
        overflow: hidden;
        margin-top:10px;
        box-shadow: 0px 0px 10px #d6d6d6;
    }
    .footer{
        height: 100%;
        width: 100%;
        text-align: center;
    }
}