#被忽略的文件列表
/*

#被管理的文件
!README.md
!/data-dictionary-react/public/
!/data-dictionary-react/src/
!/data-dictionary-react/config-overrides.js
!/data-dictionary-react/package.json
!/data-dictionary-react/yarn.lock

!/data-dictionary-web/src/
!/data-dictionary-web/pom.xml