.listcontainer{
    margin: 0px 10px;
    width: 80%;
    height: 100%;
    .listitem{
        height: 40px;
       .listitemmeta{
            cursor:pointer;
            background-color: #c7f8fa;
       }
    }
}