html,body{
    height: 100%;
    width: 100%;
}
#root{
    height: 100%;
    width: 100%;
    min-width: 1400px;
    overflow: hidden;
}

.ant-table-body::-webkit-scrollbar{  
    width: 16px;  
    height:10px;     

}  
.ant-table-body::-webkit-scrollbar-track{  
    -webkit-box-shadow: inset 0 0 6px #dfdfdf;  
    border-radius: 10px; 
    background-color:#dfdfdf; 
}
 .ant-table-body::-webkit-scrollbar-thumb{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px #aeb1b6;
    background-color:#aeb1b6;
}

.tablelist_scroll::-webkit-scrollbar{  
    width: 6px;  
    height:10px;     

}  
.tablelist_scroll::-webkit-scrollbar-track{  
    -webkit-box-shadow: inset 0 0 6px #dfdfdf;  
    border-radius: 10px; 
    background-color:#dfdfdf; 
    
}
.tablelist_scroll::-webkit-scrollbar-thumb{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px #aeb1b6;
    background-color:#aeb1b6;
}